@font-face {
  font-family: Monserrat;
  src: url(../resources/Montserrat/Montserrat-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Monserrat, sans-serif;
}

body {
  overflow: hidden;
}

body .loading_wheel {
  margin: 20px;
  height: 100px;
  width: 100px;
  border: 8px solid #ccc;
  border-top: 8px solid #1e4063;
  border-radius: 50%;
  -webkit-animation: loadwheel 1s infinite;
          animation: loadwheel 1s infinite;
}

@-webkit-keyframes loadwheel {
  0% {
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loadwheel {
  0% {
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#app .router-link-active {
  background-color: #84b2df !important;
  color: #fefefe !important;
}

#app .main_view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #eee;
  width: 100%;
  height: 100vh;
}

#app .main_view .top_bar {
  width: 100%;
  height: 80px;
  min-height: 80px;
  max-height: 80px;
  background-color: #fefefe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#app .main_view .top_bar .menu_toggler {
  border: none;
  background: transparent;
  font-size: 30px;
  padding: 10px 15px;
  margin-left: 10px;
  color: #999;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#app .main_view .top_bar .menu_toggler:hover {
  color: initial;
}

#app .main_view .top_bar .menu_toggler:focus {
  outline: none;
}

#app .main_view .top_bar .username {
  margin-right: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#app .main_view .route_viewer {
  width: calc(100% - 20px);
  height: 100%;
  margin: 10px;
  background-color: #fefefe;
}

#app .hide_menu {
  min-width: 0px !important;
  width: 0% !important;
}

#app .side_bar {
  height: 100vh;
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #fefefe;
}

#app .side_bar .side_bar-logo {
  width: 100%;
  height: 80px;
  margin-bottom: 50px;
  background-color: #1e4063;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fefefe;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#app .side_bar .side_bar-logo p {
  overflow: hidden;
  white-space: nowrap;
  font-size: 40px;
  font-weight: 300;
}

#app .side_bar .side_bar-logo p i {
  font-size: 30px;
}

#app .side_bar ul {
  width: 100%;
}

#app .side_bar ul li {
  list-style: none;
  margin-bottom: 2px;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#app .side_bar ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: initial;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  background-color: #eee;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#app .side_bar ul li a:hover {
  background-color: #84b2df;
  color: #fefefe;
}

#app .side_bar ul li a:focus {
  outline: none;
}

#app .side_bar ul li .disabled {
  pointer-events: none;
  color: #999;
}

#app .modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 20;
}

#app .modal .modal_popup {
  min-width: 500px;
  background-color: #fefefe;
  min-height: 150px;
  -webkit-box-shadow: 0px 1px 4px 1px #333;
          box-shadow: 0px 1px 4px 1px #333;
  -webkit-animation: fadein 0.4s 1;
          animation: fadein 0.4s 1;
}

#app .modal .modal_popup .modal_popup_title {
  width: 100%;
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  font-size: 20px;
  background-color: #1e4063;
  color: #fefefe;
}

#app .modal .modal_popup .modal_popup_msg {
  min-height: 60px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

#app .modal .modal_popup .modal_popup_btns {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 5px;
  background-color: #ccc;
}

#app .modal .modal_popup .modal_popup_btns button {
  margin: 2px;
}

#app .modal .modal_popup .modal_popup_btns .modal_popup_btns_secondary {
  background-color: #fefefe;
  color: #1e4063;
  border: 3px solid #1e4063;
  padding: 7px 17px;
  font-weight: bold;
}

#app .modal .modal_popup .modal_popup_btns .modal_popup_btns_secondary:hover {
  border: 3px solid #84b2df;
  color: #84b2df;
}

#app .modal .modal_popup .modal_popup_btns .modal_popup_btns_tertiary {
  background-color: #fefefe;
  background-color: transparent !important;
  color: #1e4063;
  border: 3px solid transparent;
  padding: 7px 17px;
  font-weight: bold;
}

#app .modal .modal_popup .modal_popup_btns .modal_popup_btns_tertiary:hover {
  color: #84b2df;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#app button {
  background-color: #1e4063;
  border: none;
  border-radius: 4px;
  color: #fefefe;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#app button:hover {
  background-color: #84b2df;
}

#app button:focus {
  outline: none;
}

#app button:disabled {
  background-color: #999;
  cursor: not-allowed;
}

#app input {
  border-radius: 4px;
  border: 2px solid #ccc;
  padding: 5px;
  font-size: 14px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-right: 2px;
}

#app input:focus {
  outline: none;
  border-color: #84b2df;
}

#app select {
  -webkit-appearance: none;
  border-radius: 4px;
  border: 2px solid #ccc;
  padding: 5px;
  font-size: 14px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-right: 2px;
}

#app select:focus {
  outline: none;
  border-color: #84b2df;
}

#app select:after {
  content: '&lt;&gt;';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  color: black;
}

#app textarea {
  border-radius: 4px;
  border: 2px solid #ccc;
  padding: 5px;
  font-size: 14px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-right: 2px;
  resize: vertical;
}

#app textarea:focus {
  outline: none;
  border-color: #84b2df;
}
/*# sourceMappingURL=main.css.map */